
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {


    .box1{
        width: 100%;
        height: 20%
        order: 1;


    }
    .box2{
        width: 100%;
        order: 2;


    }
    select{
        width: 100%;
        height: 200px;
        text-align-last:center;
        -moz-text-align-last: center;

    }


}


body{
    background: #232323;
}
option{
    background: white;
    color: #232323;
}

select{
    display: block;
    margin: 0 auto;
}

.fbox{
    display: flex;
    flex-wrap: wrap;

}

.box1{
    width: 100%;
    height: 20%
    order: 1;


}
.box2{
    width: 100%;
    order: 2;


}



.display{
    display: block;
    width: 100%
}
.dropbtn {
    background-color:#5E2750;
    color: white;
    padding: 16px;
    font-size: 250%;
    cursor: pointer;
    text-align: center;
border-radius: 5px;
border: none;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #77216F;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
