
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {


    .box1{
        width: 100%;
        height: 20%
        order: 1;


    }
    .box2{
        width: 100%;
        order: 2;


    }
    select{
        width: 100%;
        height: 200px;
        text-align-last:center;
        -moz-text-align-last: center;

    }


}


body{
    background: #232323;
}
option{
    background: white;
    color: #232323;
}

select{
    display: block;
    margin: 0 auto;
}

.fbox{
    display: flex;
    flex-wrap: wrap;

}

.box1{
    width: 100%;
    height: 20%
    order: 1;


}
.box2{
    width: 100%;
    order: 2;


}



.display{
    display: block;
    width: 100%
}
.dropbtn {
    background-color:#5E2750;
    color: white;
    padding: 16px;
    font-size: 250%;
    cursor: pointer;
    text-align: center;
border-radius: 5px;
border: none;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #77216F;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}



#header {
  max-width: 710px;
  width: 100%;
  margin: 0 auto 3rem auto;
}
#header h1,
#header .h1 {
  letter-spacing: 0.01em;
  font-size: 1.5rem;
  line-height: 2rem;
  font-style: normal;
  font-weight: 700;
  color: #c9cacc;
  margin-top: 0;
  margin-bottom: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
#header a {
  color: inherit;
  text-decoration: none;
  background: none;
}
#header #logo {
  display: inline-block;
  float: left;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  border-radius: 5px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#header #nav {
  letter-spacing: 0.01em;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 200;
  color: #5e2750;
}
#header #nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 15px;
}
#header #nav ul a {
  margin-right: 15px;
  color: color-accent;
}
#header #nav ul a:hover {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent, transparent 5px, #5e2750 5px, #5e2750);
}
#header #nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-right: 1px dotted #5e2750;
}
#header #nav ul .icon {
  display: none;
}
#header #nav ul li:last-child {
  border-right: 0;
  margin-right: 0;
}
#header #nav ul li:last-child a {
  margin-right: 0;
}
#header:hover #logo {
  -webkit-filter: none;
  filter: none;
}
@media screen and (max-width: 480px) {
  #header #title {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  #header #nav ul a:hover {
    background: none;
  }
  #header #nav ul li {
    display: none;
    border-right: 0;
  }
  #header #nav ul li.icon {
    display: inline-block;
    position: absolute;
    top: 55px;
    right: 1rem;
  }
  #header #nav ul.responsive li {
    display: block;
  }
  #header #nav li:not(:first-child) {
    padding-top: 1rem;
    padding-left: 70px;
    font-size: 1rem;
  }
}
#header-post {
  position: fixed;
  top: 2rem;
  right: 0;
  display: inline-block;
  float: right;
}
#header-post a {
  color: inherit;
  text-decoration: none;
  background: none;
}
#header-post a.icon {
  background: none;
}
#header-post a.icon:hover {
  color: rgba(94,39,80,0.8);
}
#header-post ol {
  list-style-type: none;
}
#header-post ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#header-post ul li {
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
#header-post ul li:last-child {
  margin-right: 0;
}
#header-post #menu-icon {
  float: right;
  margin-left: 15px;
  margin-right: 2rem;
}
#header-post #menu-icon:hover {
  color: #5e2750;
}
#header-post #menu-icon-tablet {
  float: right;
  margin-left: 15px;
  margin-right: 2rem;
}
#header-post #menu-icon-tablet:hover {
  color: #5e2750;
}
#header-post #top-icon-tablet {
  margin-left: 15px;
  margin-right: 2rem;
  bottom: 2rem;
  right: 2rem;
  position: fixed;
}
#header-post #top-icon-tablet:hover {
  color: #5e2750;
}
#header-post .active {
  color: #5e2750;
}
#header-post #menu {
  visibility: hidden;
  margin-right: 2rem;
}
#header-post #nav {
  letter-spacing: 0.01em;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 200;
  color: #5e2750;
}
#header-post #nav ul {
  line-height: 15px;
}
#header-post #nav ul a {
  margin-right: 15px;
  color: color-accent;
}
#header-post #nav ul a:hover {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent, transparent 5px, #5e2750 5px, #5e2750);
}
#header-post #nav ul li {
  border-right: 1px dotted #5e2750;
}
#header-post #nav ul li:last-child {
  border-right: 0;
  margin-right: 0;
}
#header-post #nav ul li:last-child a {
  margin-right: 0;
}
#header-post #actions {
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
  width: 100%;
  text-align: right;
}
#header-post #actions ul {
  display: block;
}
#header-post #actions .info {
  display: block;
  font-style: italic;
}
#header-post #share {
  clear: both;
  text-align: right;
  padding-top: 1rem;
}
#header-post #share li {
  margin: 0;
  display: block;
}
#header-post #toc {
  clear: both;
  text-align: right;
  margin-top: 1rem;
  padding-right: 2rem;
  max-width: 20em;
  float: right;
  overflow: auto;
  max-height: calc(95vh - 7rem);
}
#header-post #toc a:hover {
  color: rgba(94,39,80,0.8);
}
#header-post #toc .toc-level-1 > .toc-link {
  display: none;
}
#header-post #toc .toc-level-2 {
  font-size: 0.8rem;
  color: #c9cacc;
}
#header-post #toc .toc-level-2:before {
  content: "#";
  color: #5e2750;
}
#header-post #toc .toc-level-3 {
  font-size: 0.7rem;
  color: #b3b3b3;
}
#header-post #toc .toc-level-4 {
  font-size: 0.4rem;
  color: #666;
}
#header-post #toc .toc-level-5 {
  display: none;
}
#header-post #toc .toc-level-6 {
  display: none;
}
#header-post #toc .toc-number {
  display: none;
}
@media screen and (max-width: 500px) {
  #header-post {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  #header-post #menu-icon {
    display: none;
  }
  #header-post #actions {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  #header-post #toc {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  #header-post #menu-icon-tablet {
    display: none !important;
  }
  #header-post #top-icon-tablet {
    display: none !important;
  }
}
@media screen and (min-width: 1199px) {
  #header-post #actions {
    width: auto;
  }
  #header-post #actions ul {
    display: inline-block;
    float: right;
  }
  #header-post #actions .info {
    float: left;
    margin-right: 2rem;
    font-style: italic;
    display: inline;
  }
}
