@media (max-width: 600px) {
.mybtn{
    width: 100%;
}

 .box1{
     width: 100%;
     order: 1;


 }
 .box2{
width: 100%auto;
order: 2;


 }


  }




body{
    background: #232323;
}
option{
    background: white;
    color: #232323;
}
.fbox{
display: flex;
flex-wrap: wrap;

}


.display{
    display: block;
    width: 100%
}
.dropbtn {
    background-color:#5E2750;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #77216F;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
